ul.navbar {
    text-align: center;
    margin: 20px;
}
.block{
    background-color: white;
    padding: 5px;

}

A {
    text-decoration-line: none;
    color: #22896E;
    font-family: "Roboto", sans-serif;
}

.button1 {
    padding: 40px;
    display: inline;

}

.button2 {
    padding: 40px;
    display: inline;
}

.button3 {
    padding: 40px;
    display: inline;
}

.button4 {
    padding: 40px;
    display: inline;
}

.infoFirst {
    display: inline-block;
    margin-top: 20px;
    margin-left: 320px;
    margin-right: 320px;
    font-family: "Roboto", sans-serif;
}

.infoSecond {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 320px;
    margin-right: 320px;
    font-family: "Roboto", sans-serif;
}

.Chapter {
    text-align: center;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;

}


a.start {
    display: block;
    border: 1px ;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    width:150px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #16a085;
    color: white;
    font-family: 'Roboto', sans-serif;

}


.end {
    text-align: right;
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 1%;
    background-color: white;
}

